
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:ital,wght@1,100&family=Nunito:ital@0;1&family=Splash&display=swap');


body{
    color: white;
    font-family: "Nunito", sans-serif;
    background: rgb(40, 40, 40);
}