<h1>Đăng nhập</h1>

<% 
    if(typeof message !== 'undefined'){
        %>
            <h4 style="color: red;" ><%= message%></h4>
        <%
    }
%>

<form action="" method="POST">
    <input type="email" name="email" placeholder="Nhập Email" required>
    <br><br>
    <input type="password" name="password" placeholder="Nhập mật khẩu" required>
    <br><br>  
    <input type="submit" value="Đăng nhập">
</form>