<h1>Đăng ký</h1>

<form action="" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Nhập tên" required>
    <br><br>
    <input type="email" name="email" placeholder="Nhập Email" required>
    <br><br>
    <input type="file" name="image"  required>
    <br><br>
    <input type="password" name="password" placeholder="Nhập mật khẩu" required>
    <br><br>
    <input type="submit" value="Đăng ký">
  
</form>

<% if(typeof message !== 'undefined') { %>
    <p style="color: green;"><%= message %></p>
<% } %>
